src
**/*.ts
**/*.json
*.ts
!**/*.d.ts
!*.d.ts
package-lock.json
tslint.json
tsconfig.json
.prettierrc
.prettierrc.json
openapiSchemaExample.json
**/debug.log
openapiSchemaExample.result.json
openapiSchemaExample.html
examples
tsconfig.json
tsconfig-test.json
nodemon.json
.gitignore
node_modules
.vscode
