src
**/*.ts
*.ts
!**/*.d.ts
!*.d.ts
package-lock.json
tslint.json
tsconfig.json
.prettierrc
.prettierrc.json
openapiSchemaExample.json
**/debug.log
openapiSchemaExample.result.json
openapiSchemaExample.html
