<app-editor-primitive-input
    [changes]="changes"
    [setChanges]="setChanges"
    [value]="value"
    *ngIf="editorInput.editorType === 'EditorPrimitiveInput'"
    [primitiveInput]="editorInput"
></app-editor-primitive-input>
<app-editor-array-input
    [changes]="changes"
    [setChanges]="setChanges"
    [value]="value"
    *ngIf="editorInput.editorType === 'EditorArrayInput'"
    [arrayInput]="editorInput"
></app-editor-array-input>
<app-editor-object-input
    [changes]="changes"
    [setChanges]="setChanges"
    [value]="value"
    *ngIf="editorInput.editorType === 'EditorObjectInput'"
    [objectInput]="editorInput"
></app-editor-object-input>
