<div>
    <b>{{ getName() }}:</b> <span style="color: 'red'">*</span>
    <select [value]="pathValue" *ngIf="primitiveInput.type === 'enum'" (change)="setValue($event.target.value)">
        <option *ngFor="let option of enumOptions">{{ option }}</option>
    </select>
    <input [value]="pathValue" type="checkbox" *ngIf="primitiveInput.type === 'boolean'" (change)="setValue($event.target.checked)" />
    <input [value]="pathValue" type="text" *ngIf="primitiveInput.type === 'string'" (change)="setValue($event.target.value)" />
    <input [value]="pathValue" type="number" *ngIf="primitiveInput.type === 'number'" (change)="setValue($event.target.value)" />
    <input [value]="pathValue" type="date" *ngIf="primitiveInput.type === 'date'" (change)="setValue($event.target.value)" />
</div>
